<ion-view title="Artists List">
        <ion-content>
          <ion-header-bar class="bar-light item-input-inset ">
            <label class="item-input-wrapper">
              <i class="icon ion-search placeholder-icon"></i>
              <input ng-model="query" type="search" placeholder="Search">
            </label>
          </ion-header-bar>
          <ion-list>

              <ion-item ng-repeat='artist in artists | filter : query' class="item-thumbnail-left
              item-text-wrap" href="#/app/artists/{{artist.shortname}}">

              <img src="img/{{artist.shortname}}_tn.jpg" alt="{{artist.name}} Photo">
                    <h2>{{artist.name}}</h2>
                    <h3>{{artist.reknown}}</h3>
                    <p>{{artist.bio | limitTo: 100}}{{artist.bio.length > 100 ? ' &hellip;' : '' }}</p>
              </ion-item>
          </ion-list>
        </ion-content>
    </ion-view>

<!--
<ion-view view-title="Artists List">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="artist in artists" href="#/app/artists/{{artist.id}}">
        {{artist.name}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
-->
