<ion-view title="Form Sample">
        <ion-content>
          <div class="card">
          <label class="item item-input item-floating-label"/>
            <span class="input-label">First Name (floating label)</span>
              <input type="text" placeholder="Your First Name - floating label">
          </label>
          <label class="item item-input item-stacked-label"/>
            <span class="input-label">Last Name (stacked label)</span>
              <input type="text" placeholder="Your Last Name">
          </label>
          <label class="item item-input"/>
            <span class="input-label">Address (span side-by-side)</span>
              <input type="text" placeholder="Your Address">
          </label>
</div>

<div class="item item-input-inset">
  <label  class="item-input-wrapper">
    <input type="text" placeholder="Address2">
  </label>
  <button class="button button-small">search</button>
</div>


<div class="card">
  <div class="item item-text-wrap">
    This is a basic Card which contains an item that has wrapping text.
  </div>
</div>
<div class="list card">

  <a href="#" class="item item-icon-left">
    <i class="icon ion-home"></i>
    Enter home address
  </a>

  <a href="#" class="item item-icon-left">
    <i class="icon ion-ios-telephone"></i>
    Enter phone number
  </a>

  <a href="#" class="item item-icon-left">
    <i class="icon ion-wifi"></i>
    Enter wireless password
  </a>

  <a href="#" class="item item-icon-left">
    <i class="icon ion-card"></i>
    Enter card information
  </a>

</div>
        </ion-content>
    </ion-view>
