<ion-view title="Artist Detail">
    <ion-content>
      <ion-list class=list-inset>

      <ion-item
        ng-repeat="artist in artists filter: | { shortname: whichartist }"
            
        class="item-thumbnail-left
        item-text-wrap">

                <img src="img/{{artist.shortname}}_tn.jpg" alt="{{artist.name}} Photo">
                Artist ID: <h2>{{artist.id}}</h2>
                Artist Name: <h2>{{artist.name}}</h2>
                Artist Reknown for: <h3>{{artist.reknown}}</h3>
                Artist Biography: <p>{{artist.bio}}</p>

      </ion-item>
      </ion-list>
    </ion-content>
</ion-view>
