<ion-view view-title="Scientific Facts">
    <ion-content class="card">
        <h1>Scientific Facts</h1>

        <h2>When When trying to use a button for navigation, use:</h2>
        <ion-list>
            <ul>
                <li class="padding">1. An anchor tag:</li>
                <li class="padding">2. Add a "class" of button button-outline button-positive</li>
            </ul>
        </ion-list>
        <p></p>
        <a href="#/app/MoreScientificFacts" class="button button-outline button-positive">More Scientific Facts</a>
    </ion-content>
  
</ion-view>